header {
    min-height: 100px;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(100px);
    padding: 0pt;
    background-color: #424B54;
  }
body {
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 0px;  
}

p1{
    font-size: 150%;
    color: white;
}

canvas {
width: 100%;
height: auto;
margin-top: 1
0px;
}
video{
margin-top: 10px;
}

button, input {
width: 100%;
}
