.hdr1 {
    font-family: Gill Sans, sans-serif;
    font-size: 24pt;
    color: rgb(44, 51, 51);
    text-decoration: none;
}
.hdr2 {
    font-family: Gill Sans, sans-serif;
    font-size: 16pt;
    color: rgb(44, 51, 51);
    text-decoration: none;
}
.ss {
    color: black;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
}
.ss:hover{
    color:rgb(167, 186, 187);
}
.page {
    background-color: rgb(240, 250, 252);
}
.zag {
    color: black;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
    
}
.zag:hover{
    color:rgb(167, 186, 187);
}
.page1 {
    background-color: rgb(170, 232, 245);
}