

/* * {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
} */

header {
  min-height: 100px;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
  padding: 0pt;
  background-color: #424B54;
}


nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}



body {
  background-color: #f5f5f5;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 100px;
   
}

p1{
    font-size: 150%;
    color: white;
}
h1{
    margin-left: 30%;

}
img{
    margin-left: 32.5%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
  }
  .modal .modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
  }
  .modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
footer {
    background: #534a41;
    min-height: 40pt;
    font-family: Bradley Hand;
    color: rgb(255, 255, 255);
    width: 100%;
    position:absolute;
  }
  .hm {
    text-decoration: none;
    color: white;
    margin-left: 1.5em;
  }
  
  .hm:hover {
    color: #aaa;
  }