header {
  min-height: 100px;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
  padding: 0pt;
  background-color: rgb(169, 224, 226);
}

.h1 {
  margin-top: 4pt;
  color: rgb(60, 63, 66);
  font-size: 95%;  
}

.home {
  background-color:rgb(191, 233, 243);
  margin-left: 0px;
  margin-right: 0px;  
}

#imgg {
  width: 100%;
  height: auto;
  padding-left: 15pt;  
}

.conteiner-fluid {
  margin-left: 0pt;
  margin-right: 0pt;
}

input[type=text] {
  width: 8;
  padding: 10px 15px;
  background: rgb(200, 233, 238);
  border:0;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  outline: none;
  margin: 0;
  width: 100%;
}

input[type=number] {
  width: 8;
  padding: 10px 15px;
  background: rgb(200, 233, 238);
  border:0;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  outline: none;
  margin: 0;
  width: 100%;
}

footer {
  background: rgb(130, 155, 172);
  min-height: 40pt;
  font-family: Bradley Hand;
  color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  margin-top: 120px;
}

#round {
  width: 2em;
  height: 2em;
  border: 2px solid rgb(55, 92, 255);
  background-color: rgba(255, 112, 112, 0);
  border-radius: 50%;
  overflow: hidden;
  left: 30em;
  bottom: 2em;
}

.hm {
  color: rgb(235, 238, 241);
  padding-left: 1pt;
  font-family: Bradley Hand;
  font-size: 80%;
  text-decoration: none;
}

.hm:hover {
  color: rgb(198, 219, 240);
}

#imlg {
  height: 70px;
  width: auto;
}

.log {
  height: 120px;
  width: auto;
}

.hres {
  padding-left: auto;
  font-family: Bradley Hand;
  font-size: 16pt;
}

.hkar {
  padding-left: auto;
  font-family: Bradley Hand;
  font-size: 16pt;
}

.row {
  margin: 0px;
}

form div {
  margin-bottom: 15px;
  position: relative;
}

.block1 {
  font-family: Bradley Hand;
}

.img1 {
  height: 90%;
  width: auto;
}

p1 {
  font-size: 26pX;
  font-family:Bradley Hand;
  margin-top: 3pt;
  color: rgb(60, 63, 66);
} 

.logs {
  font-size: 8pt;
}
    