{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html, charset=utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/back.css' %}" >
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<title>Сканирование фото</title>
<link rel="shortcut icon" href="{% static 'images/logo128.png' %} " type="image/x-icon">
</head>
<body>
  
   <header>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2" >
                <div class="logo"><img src= "{% static 'images/logo128.png' %}"></div>
                
            </div>
            <div class="col-8 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <p1>
                  Интеллектуальная система проверки документов, удостоверяющих личность 
                </p1>
            </div>
        </div>
    </div>
</div>
</header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
        <video id="video" width="100%" height="auto" autoplay ></video><!--видеопоток-->

        <button id="snapbtn" class="btn btn-outline-primary"  >Сканировать</button>
        
        <form  method="POST" id="fotoForm" enctype="multipart/form-data">
        
        <input type="submit" id="testtext" name="testtext" form="fotoForm" onclick='value=(putImage()) ' class="btn btn-outline-success">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
        
          {% csrf_token %}
        <canvas id="canvas" width="100%" height="auto" ></canvas>
        
       
      </div>

      </div>
  </div>

</form>

<script>
  function putImage(){
  var canvas = document.getElementById('canvas');
  var dataURL = canvas.toDataURL('image/jpg', 1.0);
  
  return(dataURL)
  }
  </script> 



<script>
// Получаем доступ к камере
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
navigator.mediaDevices.getUserMedia({ video: {facingMode: "environment"
} }).then(function(stream) {
video.srcObject = stream;
video.play();
});
}
var video = document.getElementById('video');
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');

canvas.width = 1024;
 canvas.height = 768;

document.getElementById("snapbtn").addEventListener("click", function() {
context.drawImage(video, 0, 0, canvas.width, canvas.height);


});

</script>

</body>
</html>


<!-- изменения -->