<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    {% load static %} <link rel="stylesheet" type="text/css" href="{% static 'css/di.css' %}" >
        <!-- {% load static %}  <img src="{% static 'images/logo128.png' %}" > -->
    <title>Руководство пользователя</title>
    </head>
    <body class="page">
        <header>
            <div class="hdr1">Руководство пользователя</div>
        </header>
        <h class="hdr2">
            Содержание
        </h>
        <ul class="menu">
            <li><a href="#1s" class="ss">Сканирование документа</a></li>
            <li><a href="#2s" class="ss">Редактирование данных</a></li>
        </ul>
        <h><a name="1s" class="zag"><b>Сканирование документа</b></a></h>
        <p> 
            Кнопка <a href="#butscan" class="ss">"Сканирование документов"</a> находится в правом нижнем углу страницы. После нажатия на кнопку появляется окно-запрос разрешения на использование камеры вашего устройства.
             <!-- <img src="{% static 'images/logo128.png' %}" > -->
            <div>  {% load static %} <img src="{% static 'images/zapros_kamera.jpg' %}" style="margin: 10px auto 20px;display: block;"></div>
            Для того,чтобы произвести сканирование необходимо разрешить доступ.После чего появляется окно сканирования.Документ следует расположить так, чтобы его границы не выходили за пределы границ рамки сканирования.
            После нажатия на кнопку "сканировать" ниже рамки появляется изображение документа.Для извлечения и проверки информации, необходимо отправть снимок.<img src="otpr.jpg" style="height: 20pt;margin: 10px auto 20px;display: block;">
        </p>
        <h><a name="2s" class="zag"><b>Редактирование данных</b></a></h>
       <p> Раздел "Личные данные" содержит поля для информации, полученной при сканировании документа.
        <div> {% load static %} <img src="{% static 'images/anketa.jpg' %}" style="height: 200pt;margin: 10px auto 20px;display: block;">
        <img src="{% static 'images/anketa2.jpg' %}" style="height: 200pt;margin: 10px auto 20px;display: block;"></div>
        При необходимости в поля формы можно вносить изменения.
        </p>
    </body>
</html>