{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
         <link rel="stylesheet" type="text/css" href="{% static 'css/face.css' %}" >
         <link rel="stylesheet" type="text/css" href="{% static 'css/button1.css' %}" >
       <script src="{% static 'js/index.js' %}"></script>
        <title>Сервис проверки документов</title>
    </head>
    <body>
        <header>
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2" >
                        <div class="logo"><img src= "{% static 'images/logo128.png' %}"></div>
                        
                    </div>
                    <div class="col-8 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <p1>
                          Интеллектуальная система проверки документов, удостоверяющих личность 
                        </p1>
                    </div>
                </div>
            </div>
    </div>
        </header>
        <nav class="stroke">
            <ul>
                <li><a href="">Паспорт</a></li>
                <li><a href="Vy/">Водительское удостоверенин</a></li>
                <li><a href="face/">Лицо</a></li>
            </ul>
        </nav>
            <h1>
                Результат сканирования
            </h1>
        <img id="myImagePasport" src="{% static 'images/voditelskoe.jpg' %}" class="img-fluid" onclick="myFunction()" width="25%">
        <!-- <button class="btn btn-success" type="submit" onclick="changeColor()"> Отправить </button> -->
        <button id="btn_modal_window" class="btn btn-success" style="margin-top: 5px;"> Проверить </button>
        <div id="my_modal" class="modal">
            <div class="modal_content">
                <span class="close_modal_window">X</span>
                <p>Гражданин находится в базе данных "РОЗЫСК"</p>
            </div>
        </div>
            <a id="butscan">
            <div id="but" type="button" class="callback-bt" onclick='location.href="/backend"'>                       
                <div class="circle">
                </div> 
                <div class="circle1">
              </div> 
                <div class="circle2">
              </div> 
                <div class="text-call">
                    <i class="fa fa-phone"></i>
                    <span>Снимок</span>
                </div>
              </div> 
              </a>
    </body>
<footer>
    <div class="conteiner-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h style="margin-bottom: 0px; margin-left: 1.2em;font-size: 14pt;">
                    Команда "WhiteFox" Горбунов Антон, Ефимова Анастасия, Ленц Александр, Магомедов Артур, Фитисов Кирилл
                </h>
                <!-- <p style="margin-bottom: 0px;font-size: 80%;">
                    Email:amamammaamam@.hkhkm
                </p>
                <p style="margin-bottom: 0px;font-size: 80%;">
                    Телефон для связи:345354454343435445646
                </p> -->
                <p>
                  <a class="hm" href="document/">Инструкция</a>
                </p>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
              <p class="logs" style="margin-bottom: 0px;font-size: 80%;">
                Copyright &copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script>, WhiteFox. All rights reserved.
              </p>
        </div>
    </div>
</footer>
    </body>
    <script>
    function myFunction(){
        document.getElementById("myImagePasport").src="{% static 'images/photo.jpg' %}";
        }
        var modal = document.getElementById("my_modal");
    var btn = document.getElementById("btn_modal_window");
    var span = document.getElementsByClassName("close_modal_window")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
</html>