<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        {% load static %} <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" >
        {% load static %} <link rel="stylesheet" type="text/css" href="{% static 'css/button1.css' %}" >
        <title>Сервис проверки документов</title>
        
    </head>
    <body class="home">
        <header>
            <div class="header">
                    <div class="container-fluid" style="padding-left: 0pt;padding-right: 0pt;"> 
                        <div class="row">
                            <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="padding-left: 0pt;padding-right: 0pt;">
                              {% load static %}  <div class="logo"><img src= "{% static 'images/logo128.png' %}" div class="log"></div>
                                
                            </div>
                            <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="padding-left: 0pt;padding-right: 0pt;">
                                <p1>
                                  Интеллектуальная система проверки документов, удостоверяющих личность 
                                </p1>
                            </div>
                        </div>
                    </div>
            </div>
        </header>

        <div id="car2" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#car2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#car2" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="conteiner-fluid">
                <div class="row" class="st">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
    <h class="hres">
        Результат сканирования
    </h>
    {% load static %}  <img id="myImagePasport" src="{% static 'images/pasport.jpg' %}" class="img-fluid" onclick="myFunction()">
    
    <script>
      document.getElementById("myImagePasport").src="{% static 'images/photo.jpg' %}";
    </script>

     
    <script>
    function myFunction(){
    document.getElementById("myImagePasport").src="{% static 'images/pasport.jpg' %}";
    }

    </script>
    <script>
      function changeColor(){
        document.getElementById("round").style.background = "red";
        document.getElementById("round").style.border = "red";
      }
    </script>
    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7">
                        <h class="hkar">Паспортные данные</h>
                        <form method="POST">
                          {% csrf_token %}
                          {{ form.fam }}<br>
                          {{ form.name }}<br>
                          {{ form.otch }}<br>
                          {{ form.data_rozh }}<br>
                          {{ form.number_passport }}<br>
                          <span>{{ error }}</span>
                          <button class="btn btn-success" type="submit" onclick="changeColor()"> Отправить </button>
                          <div id="round"></div>
                        </form> 
                        
                    </div>
                    
                </div>
            </div>
            </div>
            <div class="carousel-item">
              <div class="conteiner-fluid">
                <div class="row" class="st">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5">
    <h class="hres">
        Результат сканирования
    </h>
    <br>
    {% load static %}  <img src="{% static 'images/voditelskoe.jpg' %}" class="img-fluid">
    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
                        <h class="hkar">Личные данные</h>
                        <form>
                          <fieldset>
                              <div class="block1">
                                  <label for="name">Имя</label>
                                  <input type="text" name="name">
                                    </div> 
                                    <div class="block1">
                                  <label for="fam">Фамилия</label>
                                  <input type="text" name="fam">
                                    </div> 
                                    <div class="block1">
                                  <label for="otc">Отчество</label>
                                  <input type="text" name="otc">
                                    </div>                     
                                    <div class="block1">
                                    <label for="datar">Дата рождения</label>
                                    <input type="number" name="datar">                 
                                    </div>
                                    <div class="block1">
                                    <label for="udost">номер водительского удостоверения</label>
                                    <input type="number" name="udost">                 
                                    </div>
                            </fieldset>
                      </form>
                    </div>
                </div>
            </div>
            
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#car2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#car2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <a id="butscan">
        <div id="but" type="button" class="callback-bt" onclick='location.href="/backend"'>                       
            <div class="circle">
            </div> 
            <div class="circle1">
          </div> 
            <div class="circle2">
          </div> 
            <div class="text-call">
                <i class="fa fa-phone"></i>
                <span>Снимок</span>
            </div>
          </div> 
          </a>
        </div>


<footer>
    <div class="conteiner-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h style="margin-bottom: 0px;font-size: 80%;">
                    Команда "WhiteFox" Горбунов Антон, Ефимова Анастасия, Ленц Александр, Магомедов Артур, Фитисов Кирилл
                </h>
                <!-- <p style="margin-bottom: 0px;font-size: 80%;">
                    Email:amamammaamam@.hkhkm
                </p>
                <p style="margin-bottom: 0px;font-size: 80%;">
                    Телефон для связи:345354454343435445646
                </p> -->
                <p>
                  <a class="hm" href="document/">Инструкция</a>
                </p>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
              <p class="logs" style="margin-bottom: 0px;font-size: 80%;">
                Copyright &copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script>, WhiteFox. All rights reserved.
              </p>
        </div>
    </div>
</footer>
    </body>
</html>


<!-- изменения -->